table {
  max-width: 60rem;
  margin: 0 auto 3rem;
  // border: 1px solid;

  th,
  td {
    padding: 1rem;
  }

  thead {
    border-bottom: 1px solid $black;
  }

  tbody tr {
    &:not(:last-child) {
      border-bottom: 1px solid $black;
    }
  }
}
