@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #202020;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  a:hover {
    opacity: 0.8; }

img {
  max-width: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #202020;
  font-weight: 400; }

table {
  max-width: 60rem;
  margin: 0 auto 3rem; }
  table th,
  table td {
    padding: 1rem; }
  table thead {
    border-bottom: 1px solid #202020; }
  table tbody tr:not(:last-child) {
    border-bottom: 1px solid #202020; }

.container {
  text-align: center; }

.form {
  display: none;
  width: 94%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem 0; }
  .form__field {
    margin-bottom: 2rem; }
    .form__field label {
      display: block;
      font-weight: bold; }
    .form__field input {
      display: block;
      width: 100%;
      border-radius: 3px;
      border: 3px solid #ccc;
      padding: 1rem; }
  .form.open {
    display: block; }
